@model TeslaSolarWeb.ViewModel.EmailMsg
@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col">
        <div class="page-header">          
            <h1 class="hidden-xs">
                <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small>
                Contact us
            </h1>
            <h4 class="visible-xs">
                <small><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></small>
                Contact us
            </h4>
        </div>
       
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="row" style="background-color: white; border: silver 1px Solid; padding: 3px;">
            <p>
                Our team can provide you the best service in region and help you determine the right system size and design for all your needs.
            </p>
            <div class="col text-left bg-success" style="margin-top: 10px; border-bottom:1px solid silver">
                <p>
                    For all information you can send us an e-mail:
                    <br />
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    <a href="mailto:teslasolartechnologies@yahoo.com">
                        @Html.Encode("teslasolartechnologies@yahoo.com")
                    </a>
                </p>

                <p>
                    Or you can call us:
                    <h3>
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        773-330-3411
                    </h3>
                </p>
            </div>
            <div class="col text-center">
                <h3>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    Tesla Solar Technologies
                </h3>
                <h4>
                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    3925 Triumvera Dr, Glenview, IL 60025
                </h4>
            </div>

            <div class="col  text-center">
                <iframe src="http://goo.gl/MPqU1S" width="300" height="200" frameborder="0" style="border: 0"></iframe>
            </div>
        </div>

    </div>
    <div class="col-sm-7" style="border-left: 0px solid gray;">
        <div class="page-header" style="margin-top: 0px !important; ">
            <h4><span class="glyphicon glyphicon-chevron-right"></span><i> Send us a message</i></h4>
        </div>
        @using (Html.BeginForm("contact", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <p class="@(Model.IsSent == true ? "bg-success" : "bg-danger")">
                @Model.Poraka
            </p>
            <p class="hidden">
                @Model.ErrorMsg
            </p>
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(x => x.Email, new {@class = "col-sm-3"})
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email" , placeholder ="(enter your email address)"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Subject, new {@class = "col-sm-3"})
                <div class="col-sm-6">
                    @Html.TextBoxFor(x => x.Subject, new {@class = "form-control" , placeholder = "(subject)"})
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Message, new {@class = "col-sm-3"})
                <div class="col-sm-8">
                    @Html.TextAreaFor(x => x.Message, new {@class = "form-control", @rows = "8" , placeholder = "(How can we help you?)"})
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11 text-right ">
                    <input type="submit" value="Send" class="btn btn-warning btn-lg"/>
                </div>
            </div>
           
        }
</div>

</div>
